html {
    font-family: 'Zen Maru Gothic', sans-serif;
}

body {
    overflow: hidden;
}

div {
    overflow: hidden;
}

.photo-img {
    float: left;
}

.photo-details {
    float: left;
    padding: 10px;
    width: 500px;
    background-color: orange;
}

#album-page {
    display: none;
    background-color: aquamarine;
}

#album-list {
    display: block;
    background-color: lightpink;
}

#comment {
    line-height: 20px;
}

.bubble {
    border-radius: 8px;
    padding: 7px 10px;
    width: 250px;
    background-color: teal;
    color: white;
}

.image-div {
    display: flex;
    justify-content: space-around;
}

.image {
    position: relative;
    float: left;
    height: 150px;
    margin: 10px;
    border-radius: 7px;
}

.image:hover {
    cursor: pointer;
    opacity: 0.7;
}
